@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
  margin: 0; 
  padding: 0;
  /* background-color: #FFDBC3;  
  
  /* background-image: url('RockForest.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed; */

}

.PokecardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}


.Pokecard {
  background-color: #FFDBC3;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 200px;
}

.Pokecard img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.Pokecard h3 {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.Pokecard p {
  margin: 8px 0;
}

.Pokecard p:first-of-type {
  margin-top: 18px;
  font-weight: bold;
}

.player_1 {

}

.player_2{

}