@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;


}
body {
  margin: 0;
  padding: 0;
  background-image: url('anime-nature-concept-art-background-image_492154-725.avif');
  background-repeat: no-repeat;
  background-size: cover; /* or background-size: 100% 100%; */
  
}

.container {
  display: flex;
}

.title {
  text-align: center;
}

.Pokecard {
  background-color: #ffdbc3;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px;
  text-align: center;
  margin: 10px;
  width: 170px;
}

.pokeCard img {
  width: 40%;
  height: auto;
}

.pokeCard h3 {
  font-size: 1.5em;
}

.pokeCard p:first-of-type {
  font-weight: bold;
}

.card-containers {
  display: flex;
}

.player {
  margin-left: 60px;
}

.player2 {
  width: 50%;
}
.versus{
  margin-top: 150%;
  background-image: url(versus.png);
}

.winner {
}
